@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Mukta',sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 20px 100px 0 100px;
  background-color: #f2f2f2;
  min-height: 100vh;
}

body .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

body .navbar a {
  text-decoration: none;
  font-size: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #222831;
}

body .navbar .name {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
}

body .navbar .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  padding: 10px;
}

body main {
  min-height: 90vh;
}

body main .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 500px;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://static.nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/ba66e1fe-02f6-4b7f-b45f-8458d1648d3f/nike-just-do-it.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/ba66e1fe-02f6-4b7f-b45f-8458d1648d3f/nike-just-do-it.jpg");
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body main .hero h1 {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #DDDDDD;
  margin-bottom: 20px;
  margin-left: 10px;
}

body main .hero .shop-now {
  text-align: center;
  max-width: 150px;
  text-decoration: none;
  margin-left: 10px;
  color: #DDDDDD;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

body main .hero .shop-now:hover {
  color: white;
}

body main img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

body .feature {
  padding-bottom: 100px;
}

body .feature p {
  font-size: 1.5rem;
  background-image: linear-gradient(120deg, #232526, #414345 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  margin-bottom: 20px;
}

body .feature .brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .feature .brands .card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 150px;
  border: 1px solid #222831;
  padding: 10px;
  -webkit-box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  color: #222831;
  cursor: pointer;
}

body .feature .brands .card:hover {
  -webkit-box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
}

body .feature .brands .card img {
  padding: 5px;
  width: 100%;
}

body .image-slider {
  padding-bottom: 100px;
}

body .image-slider p {
  font-size: 1.5rem;
  background-image: linear-gradient(120deg, #232526, #414345 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  margin-bottom: 20px;
}

body .image-slider .slider {
  width: 100%;
  -webkit-box-shadow: 5px 10px rgba(34, 40, 49, 0.2);
          box-shadow: 5px 10px rgba(34, 40, 49, 0.2);
  margin: 20px auto;
  position: relative;
  overflow: hidden;
}

body .image-slider .slider .slider-items .item img {
  max-width: 100%;
  display: block;
  -webkit-animation: zoom 1s ease;
          animation: zoom 1s ease;
}

body .image-slider .slider .slider-items .item {
  display: none;
}

body .image-slider .slider .slider-items .item.active {
  display: block;
}

body .image-slider .slider .slider-items .item {
  display: none;
  position: relative;
}

body .image-slider .slider .left-slide {
  left: 30px;
}

body .image-slider .slider .right-slide {
  right: 30px;
}

body .image-slider .slider .left-slide,
body .image-slider .slider .right-slide {
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: #444444;
  border-radius: 50%;
  color: #ffffff;
  font-size: 20px;
  top: 50%;
  cursor: pointer;
  margin-top: -20px;
  text-align: center;
  line-height: 40px;
}

body .image-slider .slider .left-slide:hover,
body .image-slider .slider .right-slide:hover {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  background-color: #29a8e2;
}

body footer {
  background-color: #222831;
  font-family: 'Montserrat',sans-serif;
  color: #DDDDDD;
  padding: 10px 20px 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body footer .links {
  display: inline-block;
}

body footer .links p {
  letter-spacing: 2px;
  color: white;
  font-weight: bold;
}

body footer .links ul {
  list-style-type: none;
}

body footer .links ul a {
  text-decoration: none;
  color: #f2f2f2;
}

body footer .links ul a:hover {
  text-decoration: underline;
}

body footer .links ul li {
  padding-left: 10px;
}

body footer .socials {
  vertical-align: top;
  float: right;
}

body footer .socials p {
  font-size: 1.2rem;
  display: inline-block;
}

body footer .socials .social-links a {
  margin: 30px 10px;
  text-decoration: none;
  color: #DDDDDD;
}

body footer .socials .social-links a:hover {
  color: white;
}

body footer .socials .social-links i {
  font-size: 1.2rem;
}

body .scrollToTopBtn {
  background-color: black;
  border: none;
  border-radius: 0%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 100px;
  /* place it at the bottom right corner */
  position: fixed;
  bottom: 30px;
  right: 30px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  /* and a transition */
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body .showBtn {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media (min-width: 1025px) {
  .feature {
    margin-top: 50px;
  }
  .navbar {
    padding: 0px 0 20px 0;
  }
  .navbar .fancy-undeline {
    background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 70%;
    -webkit-transition: background-size 0.25s ease-in;
    transition: background-size 0.25s ease-in;
  }
  .navbar .fancy-undeline:hover {
    background-size: 100% 10% !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    padding: 30px 10px 0 10px;
  }
  .navbar {
    padding: 0px 0 20px 0;
  }
  .navbar .fancy-undeline {
    background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 70%;
    -webkit-transition: background-size 0.25s ease-in;
    transition: background-size 0.25s ease-in;
  }
  .navbar .fancy-undeline:hover {
    background-size: 100% 10% !important;
  }
  .feature {
    padding-bottom: 20px !important;
    margin-top: 50px;
  }
  .feature p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
  }
  .feature .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature .brands .card {
    width: 25% !important;
    margin-bottom: 20px;
  }
  .feature .brands .card img {
    padding: 5px;
    max-width: 100%;
    max-height: 100%;
  }
  .image-slider p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  body {
    padding: 10px 0px 0px 0px;
    margin: 0 auto;
  }
  .navbar {
    padding: 10px 10px 10px 10px;
  }
  .navbar .fancy-undeline {
    background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 70%;
    -webkit-transition: background-size 0.25s ease-in;
    transition: background-size 0.25s ease-in;
  }
  .navbar .fancy-undeline:hover {
    background-size: 100% 10% !important;
  }
  .feature {
    width: 95%;
    margin: 40px auto 20px auto;
    padding-bottom: 0px !important;
  }
  .feature .brands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature .brands .card {
    min-width: 75%;
    margin-bottom: 20px;
  }
  .feature .brands .card img {
    padding: 5px;
    max-width: 50%;
    max-height: 100%;
  }
  .image-slider {
    width: 95%;
    margin: 40px auto 20px auto;
  }
  footer {
    display: block;
  }
  .links {
    width: 300px;
  }
  .socials {
    width: 100%;
    display: block;
  }
  .socials .social-links {
    width: 100%;
  }
  .social-links {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  * {
    font-size: 16px;
  }
  body {
    padding: 10px 0px 0px 0px;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }
  .navbar .name {
    width: 100%;
    text-align: center;
  }
  .navbar .shop {
    display: none !important;
  }
  .feature {
    padding-bottom: 20px !important;
    margin-top: 50px;
  }
  .feature p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
  }
  .feature .brands {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .feature .brands .card {
    min-width: 75%;
    margin-bottom: 20px;
  }
  .feature .brands .card img {
    max-width: 50%;
    max-height: 100%;
  }
  .image-slider p {
    margin-top: 20px;
    text-align: center;
    font-size: 30px !important;
    font-weight: bold;
  }
  footer {
    display: block !important;
    text-align: center;
  }
  footer .links,
  footer .socials {
    display: block;
    width: 100%;
  }
  footer .socials {
    width: 100%;
    display: block;
  }
  footer .socials .social-links {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */