@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Mukta',sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    padding: 20px 100px 0 100px;
    // background-image: url('https://static.nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/ba66e1fe-02f6-4b7f-b45f-8458d1648d3f/nike-just-do-it.jpg');
    // backdrop-filter: blur(10px);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #f2f2f2;
    min-height: 100vh;

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;

        a{
            text-decoration: none;
            font-size: 1rem;
            align-content: center;
            color: #222831;
        }
        .name{
            font-size: 2rem;
            letter-spacing: 3px;
            text-transform: uppercase;
        }
        .shop{
            display: flex;
            align-items: center;
            border-radius: 5px;
            padding: 10px;
        }
    }
    
    main{
        min-height: 90vh;
        // border: 1px solid black;

        .hero{
            // border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 500px;
            width: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url('https://static.nike.com/a/images/f_auto/dpr_1.0/w_1237,c_limit/ba66e1fe-02f6-4b7f-b45f-8458d1648d3f/nike-just-do-it.jpg');
            backdrop-filter: blur(10px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            h1 {
                font-size: 4rem;
                font-family: 'Montserrat',
                    sans-serif;
                font-weight: bold;
                color: #DDDDDD;
                margin-bottom: 20px;
                margin-left: 10px;
            }
            .shop-now{
                text-align: center;
                max-width: 150px;
                text-decoration: none;
                margin-left: 10px;
                color: #DDDDDD;
                border: 1px solid #f2f2f2;
                border-radius: 5px;
                padding: 10px;
                font-family: 'Montserrat',
                sans-serif;
                transition: transform .2s;
                
                &:hover {
                    // filter: brightness(3.00);
                    color: white;
                    // border: 3px solid #30475E;
                }
            }
        }
        img{
            width:100%;
            max-height: 500px;
            object-fit: cover;
        }
    }

    .feature{
        padding-bottom: 100px;

        p{
            font-size: 1.5rem;
            background-image: linear-gradient(120deg, #232526, #414345 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.2em;
            background-position: 0 100%;
            margin-bottom: 20px;
        }

        .brands{
            display: flex;
            justify-content: space-between;
            .card{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15%;
                height: 150px;
                border: 1px solid #222831;
                padding: 10px;
                // box-shadow: 5px 10px;
                box-shadow: 5px 10px rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                border-radius: 5px;
                color: #222831;
                cursor: pointer;
                // transition: transform .2s;
                &:hover{
                    // transform: scale(1.1);
                    box-shadow: 10px 15px rgba(0, 0, 0, 0.2);
                }
                img{
                    padding: 5px;
                    width:100%;
                }
            }
        }
    }

    .image-slider{
        padding-bottom: 100px;
        p {
            font-size: 1.5rem;
            background-image: linear-gradient(120deg, #232526, #414345 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.2em;
            background-position: 0 100%;
            margin-bottom: 20px;
        }

        .slider {
            width: 100%;
            // border: 10px solid #222831;
            box-shadow: 5px 10px rgba(34, 40, 49, 0.2);
            margin: 20px auto;
            position: relative;
            overflow: hidden;
        }

        .slider .slider-items .item img {
            max-width: 100%;
            display: block;
            animation: zoom 1s ease;
        }

        .slider .slider-items .item {
            display: none;
        }

        .slider .slider-items .item.active {
            display: block;
        }

        .slider .slider-items .item {
            display: none;
            position: relative;
        }

        .slider .left-slide {
            left: 30px;
        }

        .slider .right-slide {
            right: 30px;
        }

        .slider .left-slide,
        .slider .right-slide {
            position: absolute;
            height: 40px;
            width: 40px;
            background-color: #444444;
            border-radius: 50%;
            color: #ffffff;
            font-size: 20px;
            top: 50%;
            cursor: pointer;
            margin-top: -20px;
            text-align: center;
            line-height: 40px;

        }

        .slider .left-slide:hover,
        .slider .right-slide:hover {
            box-shadow: 0px 0px 10px black;
            background-color: #29a8e2;
        }

    }

    footer{
        background-color: #222831;
        font-family: 'Montserrat',sans-serif;
        color: #DDDDDD;
        padding: 10px 20px 40px 20px;
        display: flex;
        justify-content: space-between;

        .links{
            display: inline-block;
            p{
                letter-spacing: 2px;
                color: white;
                font-weight: bold;
            }
            ul{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: #f2f2f2;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                li{
                    padding-left: 10px;
                }
            }
        }
        .socials{
            vertical-align: top;
            float: right;
            p {
                font-size: 1.2rem;
                display: inline-block;
            }

            .social-links {
                a {
                    margin: 30px 10px;
                    text-decoration: none;
                    color: #DDDDDD;
                    &:hover {
                        color: white;
                    }
                }

                i {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .scrollToTopBtn {
        background-color: black;
        border: none;
        border-radius: 0%;
        color: white;
        cursor: pointer;
        font-size: 16px;
        line-height: 48px;
        width: 100px;

        /* place it at the bottom right corner */
        position: fixed;
        bottom: 30px;
        right: 30px;
        /* keep it at the top of everything else */
        z-index: 100;
        /* hide with opacity */
        opacity: 0;
        /* also add a translate effect */
        transform: translateY(100px);
        /* and a transition */
        transition: all .5s ease
    }

    .showBtn {
        opacity: 1;
        transform: translateY(0)
    }

}

@media (min-width: 1025px){

    .feature{
        margin-top: 50px;
    }
    
    .navbar {
        padding: 0px 0 20px 0;

        .fancy-undeline {
            background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.1em;
            background-position: 0 70%;
            transition: background-size 0.25s ease-in;
        }

        .fancy-undeline:hover {
            background-size: 100% 10% !important;
        }
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    body{
        padding: 30px 10px 0 10px;
    }

    .navbar{
        padding: 0px 0 20px 0;
        .fancy-undeline {
            background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.1em;
            background-position: 0 70%;
            transition: background-size 0.25s ease-in;
        }

        .fancy-undeline:hover {
            background-size: 100% 10% !important;
        }
    }

    .feature {
        padding-bottom: 20px !important;
        margin-top: 50px;

        p {
            margin-top: 20px;
            text-align: center;
            font-size: 30px !important;
            font-weight: bold;
        }

        .brands {
            display: flex;
            flex-direction: column;
            align-items: center;

            .card {
                width: 25% !important;
                margin-bottom: 20px;
                img {
                    padding: 5px;
                    max-width:100%;
                    max-height:100%;
                }
            }
            
        }
    }
    .image-slider {
        p {
            margin-top: 20px;
            text-align: center;
            font-size: 30px !important;
            font-weight: bold;
        }
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        padding: 10px 0px 0px 0px;
        margin: 0 auto;
    }
    .navbar{
        padding: 10px 10px 10px 10px;
        .fancy-undeline {
            background-image: linear-gradient(120deg, #757F9A, #D7DDE8 100%);
            background-repeat: no-repeat;
            background-size: 100% 0.1em;
            background-position: 0 70%;
            transition: background-size 0.25s ease-in;
        }

        .fancy-undeline:hover {
            background-size: 100% 10% !important;
        }
    }
    .feature {
        width: 95%;
        margin: 40px auto 20px auto;
        padding-bottom: 0px !important;
        .brands{
            display: flex;
            flex-direction: column;
            align-items: center;
            .card {
                min-width: 75%;
                margin-bottom: 20px;
                img {
                    padding: 5px;
                    max-width: 50%;
                    max-height: 100%;
                }
            }
        }
    }
    .image-slider{
        width: 95%;
        margin: 40px auto 20px auto;
    }

    footer{
        display: block;
        // flex-direction: column;
    }
    .links{
        width: 300px;
    }
    .socials {
        width: 100%;
        display: block;

        .social-links {
            width: 100%;
        }
    }
    .social-links{
        display:block;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    *{
        font-size: 16px;
    }

    body {
        padding: 10px 0px 0px 0px;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
        .name{
            width: 100%;
            text-align: center;
        }
        .shop{
            display: none !important;
        }
    }

    .feature {
        padding-bottom: 20px !important;
        margin-top: 50px;
        p{
            margin-top: 20px;
            text-align: center;
            font-size: 30px !important;
            font-weight: bold;
        }

        .brands {
            display: block;
            flex-direction: column;
            align-items: center;

            .card {
                min-width: 75%;
                margin-bottom: 20px;
                img{
                    max-width: 50%;
                    max-height: 100%;
                }
            }
        }
    }

    .image-slider {
         p {
             margin-top: 20px;
             text-align: center;
             font-size: 30px !important;
             font-weight: bold;
         }
    }

    footer{
        display: block !important;
        text-align: center;
        .links,
        .socials {
            display: block ;
            width: 100%;
        }
        .socials{
             width: 100%;
            display: block;
            .social-links{
                width: 100%;
            }
        }
    }

}